@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Nunito Sans', 'PingFang SC', 'Microsoft YaHei', sans-serif;
    color: #881337;
    background: #FFF1F2;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'PingFang SC', 'Microsoft YaHei', sans-serif;
  }
}
